
@media (max-width: 1600px) {
    .movies-grid{
        grid-template-columns: repeat(6, 190px);
    }
}

@media (max-width: 1333px) {
    .movies-grid{
        grid-template-columns: repeat(5, 180px);
    }
}


@media (max-width: 1064px){
    .movies-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .movies-wrapper{
        justify-content: start;
    }
}


@media (max-width: 800px){
    .main-image{
        width: 800px;
        background-position: center;
    }
    .movies-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 600px){
    .main-image{
        width: 600px;
    }
    .movies-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px){
    .main-image{
        width: 350px;
        height: 570px;
    }
}
@media (max-width: 300px){
    .movies-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}